body{
    background-color: #ffff;
    margin: 0;
}

.body .images{
    position: relative;
}

.body .img{
    transform: scale(1.5);
    position: relative;
    
}

.body .logo{
    position: relative;

}

.body .centered{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body .centered .title{
    font-weight: bold;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body .centered .rectangle{
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.body .centered .rectangle .drug-list{
    display: flex;
    flex-direction: row;
}

.body .centered .rectangle .drug-list .drug{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem;
    width: 300px;
}


.body .centered .rectangle .drug-list .drug .drug-row{
    border-bottom: 1px solid #B1AEAE;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.body .centered .rectangle .drug-list .select{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 1rem;
}

.body .centered .rectangle .btn{
    height: 30px;
    font-size: small; 
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100px;
    background-color: #6CA8D9;
    border-color: #6CA8D9;
    color: #ffff;
}
