body{
    background-color: #A8B3C3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: bold;
    font-size: x-large;
}

.rectangle{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.rectangle .drug-list{
    display: flex;
    flex-direction: row;
}

.rectangle .drug-list .drug{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem;

}

.rectangle .drug-list .select{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 1rem;
}


.rectangle .btn{
    height: 30px;
    font-size: small; 
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 70px;
    margin-bottom: 70px;
}
